/* Color scheme:
#8C8479 dark yellow beige
#69461D dark orange brown
#B1A191 yellow beige
#E7E0E0 white beige
#515E5E olive gray
#9a4218 dark orange 
*/

body {
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
}

/* NAV BAR */
.navbar-toggler-icon {
    border: 3px solid #9A4218;
}

.nav-link, .navbar-brand {
    font-style: italic;
    font-weight: bold!important;
    color: #9A4218!important;
}

.navbar-brand {
    font-size: 1.40rem;
}

/* BANNER */
header {
    height: 100vh;
    background: url(banner.jpg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-center {
    height: 100vh;
    color: #E7E0E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-underline {
    width: 300px;
    border: 3px solid #9A4218;
    margin: 0px auto 20px auto;
}

.banner-center a {
    font-size: 30px;
    width: 300px;
    margin: 0 auto;
    display: inline-block;
    border: 3px solid #E7E0E0;
    border-radius: 10px;
    color: #E7E0E0;
    text-decoration: none;
}

.display2 {
    font-size: 5rem;
    font-weight: bold;
} 

.banner-center a:hover,
.banner a:focus {
    color: #9A4218;
    background-color: #E7E0E0;
}

/* TITLES */
.title {
    margin: 20px 0;
}

.title-underline {
    width: 150px;
    border: 3px solid #9A4218;
    margin: 0px auto 10px auto;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
}
.h5, h5 {
    font-size: 1.5rem;
    padding-top: 15px;
}

.display-4 {
    font-weight: 600;
}

/* SKILLS */
#skills {
    padding: 40px;
    color: #4A2E0D;
    margin-bottom: 10px;
}

#skills .fa {
    font-size: 50px;
    margin-bottom: 10px;
}

#skills a {
    margin-bottom: 20px;
    background-color: #D4581C;
    color: #E7E0E0;
    font-size: 20px;
}

#skills a:hover {
    background-color: #9A4218;
}

/* ABOUT */
#about {
    background-color: #343A40;
}

#about .pic {
    height: 600px;
    background: url(about.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 600px solid transparent;
    border-left: 100px solid #343A40;

}

#about .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about .title {
    color: #E7E0E0;

}

/* CONTACT */
#contact {
    padding: 40px;
    background-color: #E7E0E0;
}

#contact .form-control {
    border-radius: 0!important;
    font-size: 20px;
}

#contact button {
    background-color: #D4581C;
    color: #E7E0E0;
    font-size: 24px;
    margin-bottom: 20px;
}

#contact button:hover {
    background-color: #9A4218;
}

.form-control {
    margin-bottom: 15px;
}

/* FOOTER */
#footer {
    padding: 40px;
    color: #E7E0E0;
    background-color: #343A40;
}

#footer .footer-icons{
    font-size: 40px;
    padding: 25px 0;
}

#footer .footer-icons a{
    color: #D4581C;
    text-decoration: none;
}

#footer .footer-icons a:hover {
    color: #9A4218;
}

#footer .copyright {
    font-family: sans-serif;
}

